body {
	background: #374452;
}
.logo {
	color: #fff;
}
.filters {
	background: #2b333c;
	color: #fff;
	border-radius: 4px;
	padding: 15px;
}

.filters input, .filters select, .filters textarea {
	width: 100%;
}
.filters textarea {
	resize: none;
}
.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/***** EXTERNAL ********/

#container {
    margin: 0 auto;
}

#container input {
	height: 2.5em;
	visibility: hidden;
}

#container label {
	background: #f9f9f9;
	border-radius: .25em .25em 0 0;
	color: #888;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#container input:hover + label {
	background: #ddd;
	color: #666;
}


#container input:checked + label {
	background: #4e99bf;
	color: #fff;
	position: relative;
	z-index: 6;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}
.button {
	background: #4e99bf !important;
	color: #274b5d !important;
	border: none !important;
	font-size: 14px;
	width: 100%;
}
.table {
	min-width: 900px !important;
	background: #fff;
}
.table-header {
	background: #4e99bf;
	color: #fff;
}
table {
	border-collapse: collapse;
}
tr th:first-child, tr td:first-child {
	padding-left: 10px;
}
td:last-child {
	border-bottom: none;
}
.close {
	background: #bf4e4e;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
}
#content {
	background: #f1f1f1;
	border: 2px solid #4e99bf;
	border-top: none;
	border-radius: 0 .25em .25em .25em;
	min-height: 300px;
	position: relative;
	top: -7px;
	width: 100%;
	z-index: 5;
}

#content div {
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
	/*
	transition: all linear 0.1s;
	*/
}
<<<<<<< Updated upstream
.right {
	float: right;
=======
.button {
	color: blue;
	background-color: green;
>>>>>>> Stashed changes
}
#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3,
#container input#tab-4:checked ~ #content #content-4,
#container input#tab-5:checked ~ #content #content-5 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}
