body {
	background: #374452;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.wrapper {
	max-width: 440px;
	margin: 0 auto;
}
header {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
	font-size: 36px;
}
section#in-out {
	background: #fff;
	max-width: 500px;
	border-radius: 4px;
	padding-bottom: 50px;
}
section#in-out h3 {
	font-size: 24px !important; 
	background: #2b333c;
	text-indent: 15px;
	padding: 20px;
	font-weight: 400 !important;
	color: #d7dfe4;
}
.day .title {
	background: #5398c3 !important;
	font-family: 'Arial' !important;
	font-weight: 100;
}
.widget .title {
	font-size: 18px !important; 
	font-family: 'Arial' !important;
	background: #505d6d;
	font-weight: 200;
	text-indent: 5px;
	padding: 10px;
	color: #fff;
	width: 100%;
}
.widget {
	width: 100%;
	overflow: hidden;
	background: #fff;
	min-height: 110px;
	margin-bottom: 25px;
}
.number {
	color: #3f5368;
	text-align: center;
	font-size: 24px;
	margin-top: 10px;
}
.date {
	color: #3f5368;
	text-align: center;
	font-size: 18px;
	margin-top: 15px;
}
.box {
	margin: 0 auto;
	text-align: center;
	color: #ddd;
	width: 180px;
	min-height: 250px;
	display: inline-block;
}
.right {
	float: right;
}
.date-time {
	width: 97%;
	border: 2px solid #d7dfe3;
	padding: 5px;
	height: 30px;
	position: relative;
	bottom: -25px;
	border-radius: 4px;
}
input {
	height: 30px;
	border: none;
	background: none !important;
	border: none !important;
	margin-top: -4px;
	margin-left: 10px;
	color: #8c9eb1;
	font-size: 14px;
	min-width: 250px;
}
input:focus {
	outline: none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	color: #8c9eb1;
}
::-moz-placeholder { /* Firefox 19+ */
  	color: #8c9eb1;
}
:-ms-input-placeholder { /* IE 10+ */
  	color: #8c9eb1;
}
:-moz-placeholder { /* Firefox 18- */
  	color: #8c9eb1;
}
.image-circle {
	margin: 15px auto;
	width: 113px;
	line-height: 143px;
	height: 113px;
	border-radius: 50%;
	border: 5px solid #d7dfe4;
}
.counter {
	font-size: 42px;
	color: #3f5368;
	font-weight: 700;
}
.countertype {
	color: #b9c2c8;
	font-size: 24px;
	font-weight: 400;
	margin-top: 10px;
}
.calendar-icon {
	position: relative;
	top: 4px;
	left: 3px;
}
ul {
	position: relative;
}
ul.days-data {
	margin-top: -45px;
}
ul.days-text li {
	width: 36px;
	height: 36px;
	color: #fff;
	display: inline-block;
	text-align: center;
}
ul.days-data li {
	width: 36px;
	height: 36px;
	margin-left: -4px;
	display: inline-block;
	border: 2px solid #3f5368;
}
ul.days-data li:last-child {
	margin-left: -3px;
}
.green {
	background: #a2d3bf;
}
.yellow {
	background: #d3c2a2;
}
.red {
	background: #d3a2a2;
}
.none {
	background: #c8c8c8;
}
.week-wrapper {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.weekly-indicator {
	position: relative;
	left: -25px;
	margin-top: 25px;
}
.week-title {
	font-size: 24px;
	color: #fff;
}
/* TOOLTIP */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 120%;
  left: 50%;
  margin-bottom: 5px;
  padding: 10px;
  margin-left: -40px;
  min-width: 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #5398c3;
  font-weight: 500;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 105%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 5px solid #5398c3;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.ui-datepicker {
	background: #fff;
	width: 17em;
	padding: 10px;
	padding-right: 25px;
	border: 2px solid #d7dfe4;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
	background: #5398c3;
	color: #fff;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
